@{
    ViewBag.Title = "NoAntiForgeryToken";
}

<h4>No anti-forgery token has been added to this page</h4>
<pre>
    $.proxies.person.getallpeople()
        .done(function(people) {
            //print result
        })
        .fail(function (error) {
            //print error response
        });
</pre>
<a href="#" id="get-all-people">Click to run</a>
<pre class="result"></pre>

@section scripts {
<script>
    $(function () {
        var $getAllPeople = $("#get-all-people");

        $getAllPeople.click(function () {
            $.proxies.person.getallpeople()
                .done(function(people) {
                    $getAllPeople.siblings(".result").text(JSON.stringify(people));
                })
                .fail(function (error) {
                    $getAllPeople.siblings(".result").text(JSON.stringify(error, null, 2));
                });
            return false;
        });
    });
</script>
}